@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cookie&family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* html{
    scroll-behavior: smooth;
} */
                  /* Navbar */
.navbar-brand{
    font-family: 'Unna', serif;
    font-size: 1.8rem;
    filter: drop-shadow(0px 1px 2px cyan); 
}

.nav-link,.dropdown-item{
    font-family: 'Unna', serif;
    font-size: 20px;
    margin-left: 50px;
}   

.navbar{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}


.dropdown-item {
    display: inline;
    padding: 0.25rem 0rem;
    padding: 0.3rem 0px;
}

.dropdown-menu[data-bs-popper] {
    left: 14px;
}







                        /* Carousel CSS   */
h2.pps{
    font-family: 'Unna', serif;
    font-size: 3rem;
}
h5.bp{
    font-family: 'Cookie', cursive;
    font-size: 2.8rem;
    color: rgb(255, 0, 0);
}

img.blr{
    filter: blur(0.7px);
}

                              /*Custom Cars CSS  */
/* .col{
    width: 32.333333%;
    padding-left: calc(var(--bs-gutter-x) * 2);
} */




                                /* BLOG items CSS    */
strong{
    font-size: 22px;
    text-decoration: underline;
    font-family: 'Unna', serif;
}

h3.fnt{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}
 


/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #c3bfbf;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px; font-size: 22px; }
#company{font-size: 28px;}
#company2{ font-family: 'Unna', serif; font-size: 18px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:rgb(39, 204, 204)}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #000000; color:rgb(255, 255, 255); border-radius: 8px; border-color: cyan; font-family: 'Unna', serif; font-weight: bold; font-size: 18px;}
.btn:hover, .btn:focus, .btn.active {background:cyan;color: rgb(0, 0, 0);
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}


.nps{
    text-decoration: none;
}
    
.widget li a {
    color: #ffffff;
    font-family: 'Unna', serif;
    font-size: 18px;
    
}
 
.widget li a:hover{
    color: cyan;
}

.thumbnail-widget{
    margin-bottom: 1rem;
}






       /* Dance Forms */

       hr.featurette-divider:not([size]) {
        height: 3px;
    }
    
    hr.featurette-divider{
        opacity: 0.45px;
    }

    /* Dropdown menu */


    .dropdown-divider{
        height: px;
        opacity: 0.45px;
    }

    
    /* Footer Icons */

    .social-menu ul {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      display: flex;

  }
  .social-menu ul li {
      list-style: none;
      margin: 0 10px;
  }
  .social-menu ul li .fa {
      color: #000000;
      font-size: 25px;
      line-height: 50px;
      transition: .5s;
  }
  .social-menu ul li .fa:hover {
      color: #ffffff;
  }
  .social-menu ul li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
      background-color: #4267B2;
  }
  .social-menu ul li:nth-child(2) a:hover {
      background-color: #1DA1F2;
  }
  .social-menu ul li:nth-child(3) a:hover {
      background-color: #E1306C;
  }
  .social-menu ul li:nth-child(4) a:hover {
      background-color: red
  }
  .social-menu ul li:nth-child(5) a:hover {
      background-color: #0077B5;
  }

#Maps{
      align-items: center;
      text-align: center;
  }
